/* creates colors that can be refered back to */
:root {
  --MainBlack: #212121;
  --MainGray: rgb(72, 72, 72);
  --BlueLettering: #0066ff;
  --WhiteLettering: #f2f2f2;
  --movieDiscripfontsize: 16px;
}

body {
  font-family: 'Comfortaa', sans-serif;
  font-size: var(--movieDiscripfontsize);
  background-color: var(--MainBlack);
  color: var(--WhiteLettering);
}

header {
  font-family: 'Young Serif', serif;
  font-size: 32px;
  background-color: var(--MainBlack);
  color: var(--BlueLettering);
  text-align: center;
}

.head1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#streamingService{
  height: 30px;
  font-size: var(--movieDiscripfontsize);
  width: auto;
}

#genreChoices{
  height: 30px;
  font-size: 16px;
}

.randBtn {
  background-color: var(--MainGray);
  color: var(--WhiteLettering);
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  transition:300ms;
}

.randBtn:hover {
  background-color: var(--BlueLettering);
  color: var(--MainBlack);
  cursor: pointer;
  transition: 300ms;
}

.backupLable {
  text-align: center;
  font-size: 30px;
}

.otherOptions {
  background-color: var(--MainBlack);
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
  font-size: 25px;
  align-items: center;
}

.head1 {
  padding: 20px;
}

.head1, div {
  padding: 10px;
}

#randomMovie {
  text-align: center;
}

#randomMoviePlaceholder-1 {
 padding: 15px;
 font-size: var(--movieDiscripfontsize);
}

#randomMoviePlaceholder-2 {
  padding: 15px;
  font-size: var(--movieDiscripfontsize);
}

#randomMoviePlaceholder-3 {
  padding: 15px;
  font-size: var(--movieDiscripfontsize);
}

#randomMoviePlaceholder-4 {
  padding: 15px;
  font-size: var(--movieDiscripfontsize);
}

footer{
  border-top: groove 1px var(--WhiteLettering);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#foot-img{
  height: 200px;
  width: 129.945px;
}