/* creates colors that can be refered back to */
:root {
  --MainBlack: #212121;
  --MainGray: rgb(72, 72, 72);
  --BlueLettering: #00aeff;
  --WhiteLettering: #f2f2f2;
  --movieDiscripfontsize: 16px;
}

/* sets font and styling for the body section of the html */
body {
  font-family: 'Comfortaa', sans-serif;
  font-size: var(--movieDiscripfontsize);
  background-color: var(--MainBlack);
  color: var(--WhiteLettering);
}

/* sets font and styling for the body section of the html */
header {
  font-family: 'Young Serif', serif;
  font-size: 32px;
  background-color: var(--MainBlack);
  color: var(--BlueLettering);
  text-align: center;
}

/* sets the styling if the name of the website */
.webTitle {
  font-size: 70px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
}

/* sets the styling for the head1 class */
.head1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* sets the styling for the streamingService id */
#streamingService{
  height: 30px;
  font-size: var(--movieDiscripfontsize);
  width: auto;
}

/* sets styling for the genreChoices id */
#genreChoices{
  height: 30px;
  font-size: 16px;
}

/* sets styling for the randomize button */
.randBtn {
  background-color: var(--MainGray);
  color: var(--WhiteLettering);
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  transition:300ms;
}

/* adds an effect when the randomize button is hovered over */
.randBtn:hover {
  background-color: var(--BlueLettering);
  color: var(--MainBlack);
  cursor: pointer;
  transition: 300ms;
}

/* sets styling for the backupLable class */
.backupLable {
  text-align: center;
  font-size: 30px;
}

/* adds styling to the otherOptions class */
.otherOptions {
  background-color: var(--MainBlack);
  display: flex;
  flex-flow: row wrap;
  text-wrap: wrap;
  margin: 20px;
  font-size: 25px;
  align-items: center;
  justify-content: space-around;
}

/* adds padding to the head1 class */
.head1 {
  padding: 20px;
}

/* adds padding to the div located in the head1 class */
.head1, div {
  padding: 10px;
}

/* centers the text in the randomMovie id */
#randomMovie {
  text-align: center;
}

/* adds padding and a font size to the 1st secondary movie option */
#randomMoviePlaceholder-1 {
 padding: 15px;
 font-size: var(--movieDiscripfontsize);
}

/* adds padding and a font size to the 2nd secondary movie option */
#randomMoviePlaceholder-2 {
  padding: 15px;
  font-size: var(--movieDiscripfontsize);
}

/* adds padding and a font size to the 3rd secondary movie option */
#randomMoviePlaceholder-3 {
  padding: 15px;
  font-size: var(--movieDiscripfontsize);
}

/* adds padding and a font size to the 4th secondary movie option */
#randomMoviePlaceholder-4 {
  padding: 15px;
  font-size: var(--movieDiscripfontsize);
}

/* styles the footer elements in the html adding a border to the top */
footer{
  border-top: groove 1px var(--WhiteLettering);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* sets size parameters for the img in the footer */
#foot-img{
  height: 200px;
  width: 129.945px;
}